.schedule {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-auto-flow: column;
    row-gap: 1px;
    column-gap: 1px;
}

.cell {
    height: 20px;
    width: 60px;
    background-color: teal;
    border: black solid;
}