body.dark {
  --bg-color: #000;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
}

#root, #app, body, html {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  /* --bg-theme: #0091ca; */
}

/* https://codepen.io/P1N2O/pen/pyBNzX */
body {
	background: linear-gradient(-45deg, #3523d5, #2370d5, #23ccd5, #1db8a8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
