body.dark {
  --bg-color: #000;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
}

#root, #app, body, html {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  --bg-theme: #0091ca;
}